

<div class="card mx-auto w-75">
   <h5 class="card-header d-flex justify-content-between">Login</h5> 
    <form class="login-form">
        <div class="form-group w-75 mx-auto">
            <label for="formGroupExampleInput">Email</label>
            <input type="text" class="form-control" id="email-login">
        </div>
        <div class="form-group w-75 mx-auto">
            <label for="formGroupExampleInput2">Password</label>
            <input type="text" class="form-control" id="password-login">
        </div>
    <button class="btn w-75 mx-auto" type="submit" id="loginBtn">Login!</button>
    </form>
    <a href="signup">Sign Up Instead!</a>
</div>