:root {
    --primary-100: #FFF0CE;
    --primary-200: #83b4b3;
    --primary-400: #383838;
    --secondary-100: #FFF;
    --secondary-200: #097392;
    --secondary-400: #a45a52;

    --ff-primary: 'Raleway', sans-serif;
    --ff-accent: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}


.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-400);
    align-items: flex-start;
    margin-bottom: 3rem;
}
.navbar > ul {
    display: flex;
    list-style: none;
}
.navbar li {
    padding-right: 1em;
}
.navbar > h1 {
    padding-left: 1em;
    color: var(--primary-100); 

}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-100);
    margin-left: .5em;
}
p {
    font-size: 15px;
    font-weight: bold;
    
}
.card {
    margin: 2rem;
    border: solid var(--primary-400) 3px;
}
.card > h5 {
    color:var(--primary-100);
}
.card-header {
    background-color: var(--primary-400);
}
.card-header > p {
    color:var(--primary-100);
    
}
label {
    margin-top: 1rem;
}
.newPost {
    align-items: center;
}
.signNow {
    color: var(--primary-400);
    margin-bottom: .5em;
}
span {
    margin: auto;
}
